<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Hub spot Test Automation regression suite" verbose="1"> 

<test name="Hubspot feature Testing">

<classes>

 <class name="com.qa.hubspot.tests.LoginPageTest"/>
<class name="com.qa.hubspot.tests.HomePageTest"/>

</classes>
</test>

<!-- <test name="Firefox test">
<parameter name="browser" value="chrome" />
<classes name="com.qa.hubspot.test.LoginPageTest">
</classes>
</test>
 -->


</suite>